<%= form_for Auction.new do |f| %>

    <div>
        <%= f.label :item_name %>
        <%= f.text_field :item_name %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :reserve_price %>
        <%= f.number_field :reserve_price %>
    </div>

    <%= f.submit %>

<% end %>