<div class='row'>
    <h1 class='item-name'><%= @auction.item_name %></h1>
</div>
<div class='row'>
    <div class='column'>
        <h2 class='item-description'><%= @auction.description %></h2>
    </div>
    <div class='column'>
        <p><%= @auction.reserve_price %></p>
        <p><%= @auction.created_at %></p>
    </div>
</div>
<div class='row'>
    <%= form_for (Bid.new) do |f| %>
        <div class='row'>
            <%= f.label :value %>
            <%= f.number_field :value %>
        </div>
        <div class='row'>  
            <%= f.submit 'Place Bid' %>
        </div>
    <% end %>
</div>
<div class='row'>
    <div class='column'>
        <h2 class='section-header'>Previous Bids</h2>
        <p>bid1</p>
        <p>bid2</p>
        <p>bid3</p>
        <p>bid4</p>
    </div>
</div>