<div>
    <div>
        <h2>Please Sign In</h1>
    </div>
    <div>
        <%= form_tag(sessions_path, method: 'POST') do %>
        <div>
        <%= label_tag :name %>
        <%= text_field_tag :name, '', placeholder: 'username123' %>
        </div>
        <div>
        <%= label_tag :password %>
        <%= password_field_tag :password, '', placeholder: '********' %>
        </div>
        <div>
        <%= submit_tag 'Login' %>
        </div>
    <% end %>
    </div>
    <div>
        <%= link_to 'New User?', new_user_path %>
    </div>
</div>
